/* Navbar */
@media (max-width: 767px) {
    .navbar-toggle {
        margin-left: 15px;
        display: block !important;
        float: left;
    }
}

/* Prevent radius */
* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

/* Faction colors */
.faction-1 {
    color: #ae3acd;
}
.faction-2 {
    color: rgb(40, 100, 255);
}
.faction-3 {
    color: #c62322;
}

/* Battle Rank colors */
.br100 {
    color: #ffcf00;
}

/* Outfit rank colors */
.ordinal-1 {
    color: rgba(0, 255, 253, 0.65)
}
.ordinal-2 {
    color: rgba(137, 250, 255, 0.65)
}
.ordinal-3 {
    color: rgba(181, 252, 255, 0.65)
}
.ordinal-4 {
    color: rgba(204, 252, 255, 0.65)
}
.ordinal-5 {
    color: rgba(247, 252, 255, 0.65)
}

/* Progress bar*/
#loading-bar .bar {
    background: #00dd26;
}
#loading-bar-spinner {
    top: 20px;
    left: auto;
    right: 20px;
    float: right;
}
#loading-bar-spinner .spinner-icon {
    border-top-color:  #00dd26;
    border-left-color: #00dd26;
}

/* Table header input */
.table-input input, textarea{
    background-color:#222222;
    color: #FFF;
    padding: 0;
    margin-bottom: -10px;
}
.table-input ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
.table-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
.table-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
.table-input :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

/* Table header sort */
th  a {
    color: #FFF;
}

/* Table cell percentage */
td .progress {
    position: relative;
    height: 20px;
    background: transparent;
    margin-bottom: 0;
}
td .progress .progress-bar span {
    position: absolute;
    display: block;
    width: 100%;

    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

/* Alert container */
#alerts {
    position: fixed;
    top: 60px;
    right: 0;
    margin: 20px;
    width: 200px;
}