/* Prevent radius */
* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

/* Faction colors */
.VS {
    color: #ae3acd;
}
.TR {
    color: #c62322;
}
.NC {
    color: rgb(40, 100, 255);
}

/* Battle Rank colors */
.br100 {
    color: #ffcf00;
}

/* Outfit rank colors */
.ordinal1 {
    color: rgba(0, 255, 253, 0.65)
}
.ordinal2 {
    color: rgba(137, 250, 255, 0.65)
}
.ordinal3 {
    color: rgba(181, 252, 255, 0.65)
}
.ordinal4 {
    color: rgba(204, 252, 255, 0.65)
}
.ordinal5 {
    color: rgba(247, 252, 255, 0.65)
}

/* Nprogress bar color*/
#nprogress .bar {
    background: #00dd26;
}