/* Body */
body {
    background: #FFFFFF url(../img/bg.png);
}

/* Sidebar */
#sidebar {
    background-color: #555555;
    border: none;
    border-radius: 0;
    height: 100%;
    margin: 0;
    position: absolute;
    z-index: 100;
}
#sidebar .nav {
    height: 100%;
    margin: 0;
    width: 40px;
}
#sidebar.navbar li i {
    font-size: 20px;
    line-height: 50px;
    padding: 0 11px;
    vertical-align: middle;
    width: 40px;
}
#sidebar a {
    padding: 0;
    color: #41f024;
}
.home-link {
    background-color: #5752ba;
}
.home-link:hover {
    background-color: #5752ba !important;
}
.settings-link {
    position: absolute !important;
    left: auto;
    bottom: 10px;
}

/* Content wrapper */
#content {
    left: 0;
    height: 100%;
    overflow: auto;
    padding-left: 40px;
    padding-top: 30px;
    position: absolute;
    width: 100%;
}
#content .container-fluid {
    margin-left: 25px;
    margin-right: 25px;
}

/* Faction colors */
.faction-1 {
    color: #ae3acd;
}
.faction-2 {
    color: rgb(40, 100, 255);
}
.faction-3 {
    color: #c62322;
}

/* Battle Rank colors */
.br100 {
    color: #ffcf00;
}

/* Outfit rank colors */
.ordinal-1 {
    color: rgba(0, 255, 253, 0.65)
}
.ordinal-2 {
    color: rgba(137, 250, 255, 0.65)
}
.ordinal-3 {
    color: rgba(181, 252, 255, 0.65)
}
.ordinal-4 {
    color: rgba(204, 252, 255, 0.65)
}
.ordinal-5 {
    color: rgba(247, 252, 255, 0.65)
}

/* Progress bar*/
#loading-bar .bar {
    background: #00dd26;
}
#loading-bar-spinner {
    top: 20px;
    left: auto;
    right: 60px;
    float: right;
}
#loading-bar-spinner .spinner-icon {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-top-color:  #00dd26;
    border-left-color: #00dd26;
}

/* Table header input */
.table-input input, textarea{
    background-color: transparent;
    color: #FFF;
    padding: 0;
    margin-bottom: -10px;
}
.table-input ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
.table-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
.table-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
.table-input :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

/* Table header sort */
th a {
    color: #FFF;
}

/* Table cell percentage */
td .progress {
    position: relative;
    height: 20px;
    background: transparent;
    margin-bottom: 0;
}
td .progress .progress-bar span {
    position: absolute;
    display: block;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

/* Alert container */
#alerts {
    bottom: 0;
    left: 50px;
    position: absolute;
}

/* Websocket connectivity */
.websocket-true {
    color: #00dd26;
}
.websocket-false {
    color: red;
}

/* info snippets */
dt, dd {
    font-size: 11px;
    line-height: 1.2;
}

/* Settings */
.settings .fa {
    vertical-align: middle
}
.settings .fa:hover {
    cursor: pointer;
    color: white;
}
.settings .fa-disabled {
    color: grey;
}
.settings .fa-disabled:hover {
    cursor: auto;
    color: grey;
}

/* Character page */
.dropdown-menu {
    background-color: #242422;
}
.table-button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}
.table-button:active:focus {
    outline: none;
}
.table-button:hover {
    background-color: transparent;
    border: none;
    outline: none;
}
.table-button:focus {
    background-color: transparent;
    border: none;
    outline: none;
}
.item-img {
    width: 64px;
    height: 32px;
}
.class-img {
    width: 32px;
    height: 32px;
    font-size: 32px;
}
.highcharts-container{
    min-width: 400px;
    height: 400px;
    margin: 0 auto
}
