<div class="aside left am-fade-and-slide-left" tabindex="-1" role="dialog" style="display: block;">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4 class="aside-title" ng-bind-html="title">Menu</h4></div>
      <div class="aside-body" ng-click="$hide();">
        <ul class="nav">
          <li><a ui-sref="home"><i class="fa fa-home fa-2x"></i> Home</a></li>
          <li><a ui-sref="outfit"><i class="fa fa-users fa-2x"></i> Outfit</a></li>
          <li><a ui-sref="player"><i class="fa fa-user fa-2x"></i> Player</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>