<div class="row">
  <div class="col-xs-4">
    <!-- Outfit Search -->
    <form ng-submit="outfitHrefSearch(selectedOutfit)">
      <input ng-sum type="text" class="form-control" ng-model="selectedOutfit" ng-options="outfit as outfit.label for outfit in search($viewValue)" placeholder="Search" bs-typeahead>
    </form>
  </div>
  <div class="col-xs-8">
    <!--Outfits-->
    <table class="table table-bordered table-responsive">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Creation Date</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="outfit in outfits">
        <td> {{ $index + 1 }}</td>
        <td>
          <span ng-if="outfit.alias" class="faction-{{outfit.factionId}}">[{{ outfit.alias }}]</span>
          <a href="{{ outfitHref(outfit) }}" class="faction-{{outfit.factionId}}">{{ outfit.name }}</a>
        </td>
        <td>
          <span am-time-ago="outfit.creationDate" data-type="info" data-title="{{ outfit.creationDate | amCalendar }}" bs-tooltip></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

