<div>
  <!-- Header -->
  <div class="row">
    <div class="col-xs-7">
      <h4 class="faction-{{player.factionId}}">
        {{ player.name }}
        <span ng-if="player.membership">
          [{{ player.membership.rankOrdinal | outfitRank }} of
          <a class="faction-{{player.factionId}}" ui-sref="outfit-view({alias : player.membership.outfitAlias})">{{ player.membership.outfitName }}</a>]
        </span>
        <small>last logged in <span am-time-ago="player.lastLoginDate" data-type="info" data-title="{{ player.lastLoginDate | amCalendar }}" bs-tooltip></span></small>
      </h4>
    </div>
    <div class="col-xs-2">
      <dl class="dl-horizontal">
        <dt><abr abbr="kdr"></abr></dt>
        <dd>{{ (player.kills / player.deaths | number:2) }}</dd>
        <dt><abr abbr="spm"></abr></dt>
        <dd>{{ (player.score / player.minutesPlayed | number:2) }}</dd>
      </dl>
    </div>
    <div class="col-xs-3">
      <dl class="dl-horizontal">
        <dt>Created</dt>
        <dd><span am-time-ago="player.creationDate" data-type="info" data-title="{{ player.creationDate | amCalendar }}" bs-tooltip></span></dd>
        <dt>Indexed</dt>
        <dd><span am-time-ago="player.lastIndexedOn" am-preprocess="null"></span></dd>
        <dt>Update eligible</dt>
        <dd><span am-time-ago="player.updateTime" am-preprocess="null"></span></dd>
      </dl>
    </div>
  </div>
  <!-- Content -->
  <div class="row" ng-show="player.weaponStats.length > 0">
    <table class="table table-bordered table-responsive" style="border: 0">
      <thead>
      <tr>
        <td class="invisible" style=" border: 0;"></td>
        <td class="invisible" style=" border: 0;"></td>
        <td class="invisible" style=" border: 0;"></td>
        <td class="table-avg" ng-hide="!_.contains(settings.columns, 'Kills') || sumKills == 0"> {{ sumKills }} </td>
        <td class="table-avg" ng-hide="!_.contains(settings.columns, 'KDR') || ((filterClass == 'All' && !filterName.trim()) || sumKills == 0)"> {{ avgKdr | number: 2 }} </td>
        <td class="table-avg" ng-hide="!_.contains(settings.columns, 'ACC') || ((filterClass == 'All' && !filterName.trim()) || sumKills == 0)"> {{ avgAcc | number: 2 }}% </td>
        <td class="table-avg" ng-hide="!_.contains(settings.columns, 'HSR') || ((filterClass == 'All' && !filterName.trim()) || sumKills == 0)"> {{ avgHsr | number: 2 }}% </td>
        <td class="table-avg" ng-hide="!_.contains(settings.columns, 'KPH') || ((filterClass == 'All' && !filterName.trim()) || sumKills == 0)"> {{ avgKph | number: 2 }} </td>
        <td class="table-avg" ng-hide="!_.contains(settings.columns, 'SPM') || ((filterClass == 'All' && !filterName.trim()) || sumKills == 0)"> {{ avgSpm | number: 0 }} </td>
      </tr>
      <tr>
        <th>#</th>
        <th class="table-input">
          <input type="text" ng-model="filterName" class="form-control" placeholder="Name&hellip;">
        </th>
        <th>
          <button type="button" class="btn btn-default btn-sm table-button" ng-model="filterClass"
                  data-html="1" ng-options="class.value as class.label for class in classes" bs-select>
            <span class="caret"></span>
          </button>
        </th>
        <th ng-show="_.contains(settings.columns, 'Kills')">
          <a ng-click="predicate='_1.killCount'; reverse=!reverse;">
            Kills
          </a>
        </th>
        <th ng-show="_.contains(settings.columns, 'KDR')">
          <a ng-click="predicate='_1.killCount / _1.deathCount'; reverse=!reverse;">
            <abr abbr="kdr"></abr>
          </a>
        </th>
        <th ng-show="_.contains(settings.columns, 'ACC')">
          <a ng-click="predicate='_1.hitCount / _1.fireCount'; reverse=!reverse;">
            <abr abbr="acc"></abr>
          </a>
          <i class="fa fa-bullseye"></i>
        </th>
        <th ng-show="_.contains(settings.columns, 'HSR')">
          <a ng-click="predicate='_1.headshotCount / _1.killCount'; reverse=!reverse;">
            <abr abbr="hsr"></abr>
          </a>
          <i class="fa fa-bullseye"></i>
        </th>
        <th ng-show="_.contains(settings.columns, 'KPH')">
          <a ng-click="predicate='_1.killCount / _1.secondsPlayed'; reverse=!reverse;">
            <abr abbr="kph"></abr>
          </a>
        </th>
        <th ng-show="_.contains(settings.columns, 'SPM')">
          <a ng-click="predicate='_1.score / _1.secondsPlayed'; reverse=!reverse;">
            <abr abbr="spm"></abr>
          </a>
        </th>
        <th ng-show="_.contains(settings.columns, 'Last used')">
          <a ng-click="predicate='_1.lastSaveDate'; reverse=!reverse;">
            Used
          </a>
          <i class="fa fa-clock-o"></i>
        </th>
        <th ng-show="_.contains(settings.columns, 'Total time')">
          <a ng-click="predicate='_1.secondsPlayed'; reverse=!reverse;">
            Time
          </a>
          <i class="fa fa-clock-o"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="stat in (filteredWeaponStats = (player.weaponStats | filter: {_2 : {name : filterName || ''}} | filter: classMatcher | orderBy:predicate:reverse))">
        <td> {{ $index + 1 }} </td>
        <td>
          <a class="pull-right" ng-click="showHistory(stat)"><i class="fa fa-line-chart"></i></a>
          <div ng-switch="!!stat.history">
            <div ng-switch-when="true">
              <highchart id="chart1" config="stat.history"></highchart>
            </div>
            <span ng-switch-when="false">
              <img ng-show="settings.showWeaponImages" class="item-img" ng-src="http://census.soe.com/{{ ::stat._2.imagePath }}" />
              <a href="#/weapon/{{ ::stat._2.id }}">
                {{ ::stat._2.name }}
              </a>
            </span>
          </div>
        </td>
        <td>
          <img class="class-img" ng-repeat="class in ::stat._2.profiles" ng-src="http://census.soe.com/{{ ::class.imagePath }}" />
        </td>
        <td ng-show="_.contains(settings.columns, 'Kills')">
          {{ ::stat._1.killCount }}
        </td>
        <td ng-show="_.contains(settings.columns, 'KDR')">
          {{ ::(stat._1 | statCalc:'kdr' | number:2) }}
        </td>
        <td ng-show="_.contains(settings.columns, 'ACC')">
          {{ ::(stat._1 | statCalc:'acc' | number:2) }}%
        </td>
        <td ng-show="_.contains(settings.columns, 'HSR')">
          {{ ::(stat._1 | statCalc:'hsr' | number:2) }}%
        </td>
        <td ng-show="_.contains(settings.columns, 'KPH')">
          {{ ::(stat._1 | statCalc:'kph' | number:2) }}
        </td>
        <td ng-show="_.contains(settings.columns, 'SPM')">
          {{ ::(stat._1 | statCalc:'spm' | number:0) }}
        </td>
        <td ng-show="_.contains(settings.columns, 'Last used')">
          <span am-time-ago="::stat._1.lastSaveDate"></span>
        </td>
        <td ng-show="_.contains(settings.columns, 'Total time')">
          {{ ::(stat._1.secondsPlayed | duration:'seconds':'d[d] h[h] m[m]') }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" ng-if="player.weaponStats.length == 0" style="margin-top: 150px">
    <i class="fa fa-spin fa-cog fa-5x"></i>
  </div>
</div>
