<div bindonce="outfit">
  <!-- Header -->
  <div class="row">
    <div class="col-xs-5">
      <h4 class="faction-{{outfit.factionId}}">
        {{ outfit.name }} <span ng-if="outfit.alias">[{{ outfit.alias }}]</span>
      </h4>
    </div>
    <div class="col-xs-3">
      <dl class="dl-horizontal pull-right">
        <dt>Created</dt>
        <dd><span am-time-ago="outfit.creationDate" data-type="info" data-title="{{ outfit.creationDate | amCalendar }}" bs-tooltip></span></dd>
        <dt>Members</dt>
        <dd> {{ outfit.members.length }} </dd>
        <dt>Leader</dt>
        <dd>
          <a href="{{ leaderHref(outfit.leader.name) }}" class="faction-{{outfit.factionId}}">
            {{ outfit.leader.name }}
          </a>
        </dd>
      </dl>
    </div>
    <div class="col-xs-4">
      <dl class="dl-horizontal">
        <dt>Indexed</dt>
        <dd><span am-time-ago="outfit.lastIndexedOn" am-preprocess="null"></span></dd>
        <dt>Update eligible</dt>
        <dd><span am-time-ago="outfit.updateTime" am-preprocess="null"></span></dd>
      </dl>
    </div>
  </div>
  <!-- Members -->
  <div infinite-scroll="increaseLimit()" infinite-scroll-distance='1' infinite-scroll-container="'#content'">
    <table class="table table-bordered table-responsive">
      <thead>
      <tr>
        <th>#</th>
        <th class="table-input">
          <input type="text" ng-model="filterName" class="form-control" placeholder="Name&hellip;" ng-focus="limitRows = 50;">
        </th>
        <th>
          <a ng-click="limitRows = 50; predicate='membership.outfitRankOrdinal'; reverse=!reverse;">
            Outfit rank
          </a>
        </th>
        <th>
          <a ng-click="limitRows = 50; predicate='battleRank == 100 ? earnedCerts : battleRank + (battleRankPercent * 0.01)'; reverse=!reverse;">
            BR
          </a>
        </th>
        <th>
          <a ng-click="limitRows = 50; predicate='lastLoginDate'; reverse=!reverse;">
            Last login
          </a>
        </th>
        <th>
          <a ng-click="limitRows = 50; predicate='minutesPlayed'; reverse=!reverse;">
            Time played
          </a>
        </th>
        <th>
          <a ng-click="limitRows = 50; predicate='membership.outfitMemberSinceDate'; reverse=!reverse;">
            Member since
          </a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr bindonce ng-repeat="member in outfit.members | filter: { name : filterName } | orderBy:predicate:reverse | limitTo:limitRows">
        <td> {{ $index + 1 }} </td>
        <td>
          <a bo-href="'#/player/' + member.name" bo-class="{'faction-1' : outfit.factionId === 1, 'faction-2' : outfit.factionId === 2, 'faction-3' : outfit.factionId === 3}">
            <span bo-text="member.name"></span>
          </a>
        </td>
        <td>
          <span bo-class="{
            'ordinal-1' : member.membership.outfitRankOrdinal === 1,
            'ordinal-2' : member.membership.outfitRankOrdinal === 2,
            'ordinal-3' : member.membership.outfitRankOrdinal === 3,
            'ordinal-4' : member.membership.outfitRankOrdinal === 4,
            'ordinal-5' : member.membership.outfitRankOrdinal === 5}" bo-text="member.membership.outfitRank"></span>
           - <span bo-text="member.membership.outfitRankOrdinal | outfitRank"></span>
        </td>
        <td class="text-center">
          <div bo-if="member.battleRank < 100" class="progress" bs-tooltip data-type="info" data-title="{{ member.battleRankPercent }}%" data-container="body">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" bo-style="{'width': member.battleRankPercent + '%'}">
              <span bo-text="member.battleRank"></span>
            </div>
          </div>
          <span bo-if="member.battleRank == 100" class="br100">
            <span bo-text="member.battleRank"></span>
          </span>
        </td>
        <td>
          <span am-time-ago="member.lastLoginDate" bs-tooltip  data-type="info" data-title="{{ member.lastLoginDate | amCalendar }}" data-container="body"></span>
        </td>
        <td>
          <span bo-text="member.minutesPlayed | duration:'minutes'"></span>
        </td>
        <td>
          <span am-time-ago="member.membership.outfitMemberSinceDate" bs-tooltip data-type="info" data-title="{{ member.membership.outfitMemberSinceDate | amCalendar }}" data-container="body"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>